<!-- Layout File (Nav Bar for now Mostly)-->
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mood Mix</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Shrikhand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Syne:wght@400;700&display=swap" rel="stylesheet">


    <!-- CSS Style sheet-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    
    <!-- <link rel="icon" href="./favicon.ico" type="image/x-icon"> -->

</head>
<body>
  <nav>
    <div class="features">
      <a class="button" href="/history_form">History Form</a>
      <a class="button" href="/insights">Insights</a>
      <a class="button" href="/user_form">User Form</a>
    </div>

    <a id='webtitle' href="/home">Mood Mix</a>
    <button id="login" class="button" onclick="window.location.href='/login'">Login</button>
  </nav>
  {% block content %}
  
  {% endblock %}
</body>
</html>